@use '../sass-utils/variables' as v;

.register-container{
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 600px;
  height: 100vh;

  margin: 0 auto;

  &__logo-container{
    padding-block: 2rem;
    img{
      max-width: 100%;
    }
  }

  }
