@use '../sass-utils' as v;

.button{
  width: 100%;

  padding: 1rem 0.5rem; 
  
  background-color: v.$color-blue;
  color: v.$color-white;

  font-size: 1rem;

  border:none;
  border-radius: 1rem;

  &:hover{
    cursor: pointer;
  }
}